<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>881579263831-p174qeba8dn4u109jnfosogjnlhkv7bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881579263831-p174qeba8dn4u109jnfosogjnlhkv7bv</string>
	<key>API_KEY</key>
	<string>AIzaSyBfH3Pju2RLUoRV-jgCOlcP80faZfSNQjs</string>
	<key>GCM_SENDER_ID</key>
	<string>881579263831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JavierLopez.FirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>fir-example-764c4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-764c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:881579263831:ios:8c8dc7c4e3870ca0</string>
	<key>DATABASE_URL</key>
	<string>https://fir-example-764c4.firebaseio.com</string>
</dict>
</plist>